{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Landing Page</title>
    <link href="../static/css/sidebars.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  </head>
<style>
    .navbar {
background-color: #ffa500;
}

</style>
<body>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <a class="navbar-brand" href="#">
            <img src="../static/assets_login/brand/reddit-logo-2436.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Reddit
          </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              {{if eq .IsAuthenticated 1}}
              <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
              </li>
              {{else}}
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
              {{end}}
            </ul>
          </div>
        </div>
        {{if eq .IsAuthenticated 1}}
        <p style="padding-right: 10px;">u/{{.Username}}</p>
        {{else}}
        {{end}}
      </nav>
      {{block "content" .}}

      {{end}}
    <script src="../static/assets_login/dist/js/bootstrap.bundle.min.js"></script>
    
        <script src="../static/assets_login/js/sidebars.js"></script></body>
      
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>

{{end}}