{{template "base" .}}

{{define "content"}}
<main class="d-flex flex-nowrap">
    <div class="b-example-divider b-example-vr"></div>
    
  <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary" style="width: 380px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
      <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-5 fw-semibold">Subreddit</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea">
      <a href="/r/askreddit" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          
          <strong class="mb-1">r/AskReddit</strong>
        </div>
        <div class="col-10 mb-1 small">r/AskReddit is the place to ask and answer thought-provoking questions.</div>
      </a>
      <a href="/r/funny" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/funny</strong>
        </div>
        <div class="col-10 mb-1 small"> Reddit's largest humor depository </div>
      </a>
      <a href="/r/aww" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/aww</strong>
        </div>
        <div class="col-10 mb-1 small">A subreddit for cute and cuddly pictures
          Things that make you go AWW! -- like puppies, bunnies, babies, and so on... Feel free to post original pictures and videos of cute things. </div>
      </a>

      <a href="/r/gaming" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/gaming</strong>
        </div>
        <div class="col-10 mb-1 small"> The Number One Gaming forum on the Internet. </div>
      </a>
      <a href="/r/todayilearned" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/todayIlearned</strong>
        </div>
        <div class="col-10 mb-1 small"> You learn something new every day; what did you learn today? Submit interesting and specific facts about something that you just found out here. </div>
      </a>
      <a href="/r/worldnews" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/worldnews</strong>
        </div>
        <div class="col-10 mb-1 small"> A place for major news from around the world, excluding US-internal news. </div>
      </a>
      <a href="/r/movies" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/movies</strong>
        </div>
        <div class="col-10 mb-1 small">The goal of /r/Movies is to provide an inclusive place for discussions and news about films with major releases.</div>
      </a>
      <a href="/r/food" hx-boost="true" class="list-group-item list-group-item-action py-3 lh-sm">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">r/food</strong>
        </div>
        <div class="col-10 mb-1 small"> The hub for Food Images and more on Reddit </div>
      </a>
      
    </div>
  </div>

  <div class="b-example-divider b-example-vr"></div>
  
</main>

{{end}}